<div class="csl-entry">
    Abidin, C. (2018).
    <i>Internet Celebrity: Understanding Fame Online</i> (Illustrated edition).
    Emerald Publishing.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-1-78756-079-6&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Internet%20Celebrity%3A%20Understanding%20Fame%20Online&amp;rft.place=United%20Kingdom%20%3B%20North%20America&amp;rft.publisher=Emerald%20Publishing&amp;rft.edition=Illustrated%20edition&amp;rft.aufirst=Crystal&amp;rft.aulast=Abidin&amp;rft.au=Crystal%20Abidin&amp;rft.date=2018-07-16&amp;rft.tpages=192&amp;rft.isbn=978-1-78756-079-6&amp;rft.language=English"
></span>
<div class="csl-entry">
    Broussard, M. (2018).
    <i>Artificial Unintelligence: How Computers Misunderstand the World</i> (1st
    edition). The MIT Press.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-262-03800-3&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Artificial%20Unintelligence%3A%20How%20Computers%20Misunderstand%20the%20World&amp;rft.place=Cambridge%2C%20Massachusetts&amp;rft.publisher=The%20MIT%20Press&amp;rft.edition=1st%20edition&amp;rft.aufirst=Meredith&amp;rft.aulast=Broussard&amp;rft.au=Meredith%20Broussard&amp;rft.date=2018-03-15&amp;rft.tpages=248&amp;rft.isbn=978-0-262-03800-3&amp;rft.language=English"
></span>
<div class="csl-entry">
    Brügger, N., &amp; Milligan, I. (Eds.). (2018). How Search Shaped and Was
    Shaped by the Web. In <i>The SAGE Handbook of Web History</i> (1st edition).
    SAGE Publications Ltd.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-1-4739-8005-1&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=How%20Search%20Shaped%20and%20Was%20Shaped%20by%20the%20Web&amp;rft.place=London%20%3B%20Thousand%20Oaks%2C%20California&amp;rft.publisher=SAGE%20Publications%20Ltd&amp;rft.edition=1st%20edition&amp;rft.aufirst=Neils&amp;rft.aulast=Br%C3%BCgger&amp;rft.au=Neils%20Br%C3%BCgger&amp;rft.au=Ian%20Milligan&amp;rft.date=2018-12-29&amp;rft.isbn=978-1-4739-8005-1&amp;rft.language=English"
></span>
<div class="csl-entry">
    Cagle, K. (n.d.). <i>What Is Artificial Intelligence?</i> Forbes. Retrieved
    8 August 2021, from
    <a
        href="https://www.forbes.com/sites/cognitiveworld/2019/08/20/what-is-artificial-intelligence/"
        >https://www.forbes.com/sites/cognitiveworld/2019/08/20/what-is-artificial-intelligence/</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc&amp;rft.type=webpage&amp;rft.title=What%20Is%20Artificial%20Intelligence%3F&amp;rft.description=If%20you%20follow%20the%20hype%2C%20Artificial%20Intelligence%20Is%20The%20Next%20Big%20Thing.%20Our%20houses%2C%20our%20cars%2C%20our%20toasters%2C%20all%20of%20these%20seem%20to%20be%20teeming%2C%20even%20overflowing%20with%20intelligence%2C%20like%20some%20great%20fungus%20gone%20amuck.%20AI%20is%20here%20to%20stay%2C%20and%20you%20need%20it%2C%20right%20now!&amp;rft.identifier=https%3A%2F%2Fwww.forbes.com%2Fsites%2Fcognitiveworld%2F2019%2F08%2F20%2Fwhat-is-artificial-intelligence%2F&amp;rft.aufirst=Kurt&amp;rft.aulast=Cagle&amp;rft.au=Kurt%20Cagle&amp;rft.language=en"
></span>
<div class="csl-entry">
    Ceruzzi, P. E. (2012). The Digital Age. In
    <i>Computing: A Concise History</i> (Illustrated edition). The MIT Press.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-262-51767-6&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=The%20Digital%20Age&amp;rft.place=Cambridge%2C%20Mass&amp;rft.publisher=The%20MIT%20Press&amp;rft.edition=Illustrated%20edition&amp;rft.aufirst=Paul%20E.&amp;rft.aulast=Ceruzzi&amp;rft.au=Paul%20E.%20Ceruzzi&amp;rft.date=2012-06-15&amp;rft.isbn=978-0-262-51767-6&amp;rft.language=English"
></span>
<div class="csl-entry">
    Chambers, D. (2016).
    <i
        >Changing Media, Homes and Households: Cultures, Technologies and
        Meanings</i
    >
    (1st edition). Routledge.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-415-70635-3&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Changing%20Media%2C%20Homes%20and%20Households%3A%20Cultures%2C%20Technologies%20and%20Meanings&amp;rft.place=London%20%3B%20New%20York&amp;rft.publisher=Routledge&amp;rft.edition=1st%20edition&amp;rft.aufirst=Deborah&amp;rft.aulast=Chambers&amp;rft.au=Deborah%20Chambers&amp;rft.date=2016-04-12&amp;rft.tpages=202&amp;rft.isbn=978-0-415-70635-3&amp;rft.language=English"
></span>
<div class="csl-entry">
    Chesher, C., Humphry, J., &amp; Maalsen, S. (n.d.).
    <i
        >Smart street furniture in Australia: A public service or surveillance
        and advertising tool?</i
    >
    The Conversation. Retrieved 8 August 2021, from
    <a
        href="http://theconversation.com/smart-street-furniture-in-australia-a-public-service-or-surveillance-and-advertising-tool-157424"
        >http://theconversation.com/smart-street-furniture-in-australia-a-public-service-or-surveillance-and-advertising-tool-157424</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc&amp;rft.type=webpage&amp;rft.title=Smart%20street%20furniture%20in%20Australia%3A%20a%20public%20service%20or%20surveillance%20and%20advertising%20tool%3F&amp;rft.description=Smart%20street%20furniture%20can%20do%20a%20lot%20of%20things%20at%20once.%20Some%20of%20these%20functions%20offer%20the%20public%20clear%20benefits%2C%20but%20the%20data%20collection%20and%20surveillance%20capabilities%20raise%20a%20number%20of%20concerns.&amp;rft.identifier=http%3A%2F%2Ftheconversation.com%2Fsmart-street-furniture-in-australia-a-public-service-or-surveillance-and-advertising-tool-157424&amp;rft.aufirst=Chris&amp;rft.aulast=Chesher&amp;rft.au=Chris%20Chesher&amp;rft.au=Justine%20Humphry&amp;rft.au=Sophia%20Maalsen&amp;rft.language=en"
></span>
<div class="csl-entry">
    Chesher, C., &amp; Silvera-Tawil, D. (2020). A Robot-Human Handshake in
    Space: Touch and Lively Alterity Relations in Social Robotics.
    <i>Culturally Sustainable Social Robotics: Proceedings of Robophilosophy</i
    >, <i>335</i>.
    <a
        href="https://ebooks.iospress.nl/volume/culturally-sustainable-social-robotics-proceedings-of-robophilosophy-2020"
        >https://ebooks.iospress.nl/volume/culturally-sustainable-social-robotics-proceedings-of-robophilosophy-2020</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=A%20Robot-Human%20Handshake%20in%20Space%3A%20Touch%20and%20Lively%20Alterity%20Relations%20in%20Social%20Robotics&amp;rft.jtitle=Culturally%20Sustainable%20Social%20Robotics%3A%20Proceedings%20of%20Robophilosophy&amp;rft.volume=335&amp;rft.aufirst=Chris&amp;rft.aulast=Chesher&amp;rft.au=Chris%20Chesher&amp;rft.au=David%20Silvera-Tawil&amp;rft.date=2020"
></span>
<div class="csl-entry">
    Dowd, C. (2012).
    <i
        >Turing’s creativity and Science Fiction films: Abstractions and hidden
        layers</i
    >. The Society for the Study of Artificial Intelligence and Simulation of
    Behaviour.
    <a href="https://rune.une.edu.au/web/handle/1959.11/12060"
        >https://rune.une.edu.au/web/handle/1959.11/12060</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-1-908187-13-0&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=Turing's%20creativity%20and%20Science%20Fiction%20films%3A%20Abstractions%20and%20hidden%20layers&amp;rft.publisher=The%20Society%20for%20the%20Study%20of%20Artificial%20Intelligence%20and%20Simulation%20of%20Behaviour&amp;rft.aufirst=Cate&amp;rft.aulast=Dowd&amp;rft.au=Cate%20Dowd&amp;rft.date=2012&amp;rft.isbn=978-1-908187-13-0&amp;rft.language=en"
></span>
<div class="csl-entry">
    Flew, T. (2019). <i>Guarding the gatekeepers</i>. Griffith Review.
    <a
        href="https://www.griffithreview.com/articles/guarding-gatekeepers-trust-truth-digital-platforms/"
        >https://www.griffithreview.com/articles/guarding-gatekeepers-trust-truth-digital-platforms/</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc&amp;rft.type=webpage&amp;rft.title=Guarding%20the%20gatekeepers&amp;rft.description=WARS%20OFTEN%20RAGE%20behind%20the%20estimated%20ten%20million%20Wikipedia%20pages%3A%20edit%20wars%2C%20where%20editors%20repeatedly%20override%20each%20other%E2%80%99s%20contributions%20to%20a%20page%20and%20cannot%20reach%20consensus%20about%20what%20the%20final%20content%20should%20be.%20This%20can%20extend%20to%20many%20thousands%20of%20edits.%20While%20some%20of%20the%20most%20famous%20edit%20wars%20have%20been%20about%20classically%20nerdy%20topics%C2%A0%E2%80%93...%20Read%20more&amp;rft.identifier=https%3A%2F%2Fwww.griffithreview.com%2Farticles%2Fguarding-gatekeepers-trust-truth-digital-platforms%2F&amp;rft.aufirst=Terry&amp;rft.aulast=Flew&amp;rft.au=Terry%20Flew&amp;rft.date=2019&amp;rft.language=en-US"
></span>
<div class="csl-entry">
    Gibson, W. (1986). <i>Neuromancer</i> (1st edition). Penguin Putnam Inc.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-441-56959-5&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Neuromancer&amp;rft.place=New%20York&amp;rft.publisher=Penguin%20Putnam%20Inc&amp;rft.edition=1st%20edition&amp;rft.aufirst=William&amp;rft.aulast=Gibson&amp;rft.au=William%20Gibson&amp;rft.date=1986-08-15&amp;rft.isbn=978-0-441-56959-5&amp;rft.language=English"
></span>
<div class="csl-entry">
    Giddings, S. (Ed.). (2011). The Technology and the Society’,. In
    <i>The New Media and Technocultures Reader</i> (1st edition). Routledge.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-415-46914-2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=The%20Technology%20and%20the%20Society%E2%80%99%2C&amp;rft.place=Abingdon%2C%20Oxon%20%3B%20New%20York&amp;rft.publisher=Routledge&amp;rft.edition=1st%20edition&amp;rft.aufirst=Seth&amp;rft.aulast=Giddings&amp;rft.au=Seth%20Giddings&amp;rft.date=2011-02-10&amp;rft.isbn=978-0-415-46914-2&amp;rft.language=English"
></span>
<div class="csl-entry">
    Giddings, S., &amp; Lister, M. (Eds.). (2011). Selected Material from
    Computer Lib/Dream machines. In
    <i>The New Media and Technocultures Reader</i> (1st edition). Routledge.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-415-46914-2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=Selected%20Material%20from%20Computer%20Lib%2FDream%20machines.&amp;rft.place=Abingdon%2C%20Oxon%20%3B%20New%20York&amp;rft.publisher=Routledge&amp;rft.edition=1st%20edition&amp;rft.aufirst=Seth&amp;rft.aulast=Giddings&amp;rft.au=Seth%20Giddings&amp;rft.au=Martin%20Lister&amp;rft.date=2011-03-17&amp;rft.isbn=978-0-415-46914-2&amp;rft.language=English"
></span>
<div class="csl-entry">
    Gillespie, T. (2015). Platforms Intervene. <i>Social Media + Society</i>,
    <i>1</i>(1), 2056305115580479.
    <a href="https://doi.org/10.1177/2056305115580479"
        >https://doi.org/10.1177/2056305115580479</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1177%2F2056305115580479&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Platforms%20Intervene&amp;rft.jtitle=Social%20Media%20%2B%20Society&amp;rft.stitle=Social%20Media%20%2B%20Society&amp;rft.volume=1&amp;rft.issue=1&amp;rft.aufirst=Tarleton&amp;rft.aulast=Gillespie&amp;rft.au=Tarleton%20Gillespie&amp;rft.date=2015-04-01&amp;rft.pages=2056305115580479&amp;rft.issn=2056-3051&amp;rft.language=en"
></span>
<div class="csl-entry">
    Halavais, A. (2017). <i>Search Engine Society</i> (2 edition). Polity.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-1-5095-1682-7&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Search%20Engine%20Society&amp;rft.place=Cambridge%2C%20UK%20%3B%20Medford%2C%20MA&amp;rft.publisher=Polity&amp;rft.edition=2%20edition&amp;rft.aufirst=Alexander&amp;rft.aulast=Halavais&amp;rft.au=Alexander%20Halavais&amp;rft.date=2017-11-10&amp;rft.tpages=240&amp;rft.isbn=978-1-5095-1682-7&amp;rft.language=English"
></span>
<div class="csl-entry">
    Humphry, J. (2015). Work and Society. In J. Arvanitakis (Ed.),
    <i>Sociologic: Analysing Everyday Life and Culture</i> (Pap/Psc edition).
    Oxford University Press ANZ.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-19-030065-4&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=Work%20and%20Society&amp;rft.place=Melbourne&amp;rft.publisher=Oxford%20University%20Press%20ANZ&amp;rft.edition=Pap%2FPsc%20edition&amp;rft.aufirst=Justine&amp;rft.aulast=Humphry&amp;rft.au=James%20Arvanitakis&amp;rft.au=Justine%20Humphry&amp;rft.date=2015-12-14&amp;rft.isbn=978-0-19-030065-4&amp;rft.language=English"
></span>
<div class="csl-entry">
    Johnson, M. R., &amp; Woodcock, J. (2019). ‘It’s like the gold rush’: The
    lives and careers of professional video game streamers on Twitch.tv.
    <i>Information, Communication &amp; Society</i>, <i>22</i>(3), 336–351.
    <a href="https://doi.org/10.1080/1369118X.2017.1386229"
        >https://doi.org/10.1080/1369118X.2017.1386229</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1080%2F1369118X.2017.1386229&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=%E2%80%98It%E2%80%99s%20like%20the%20gold%20rush%E2%80%99%3A%20the%20lives%20and%20careers%20of%20professional%20video%20game%20streamers%20on%20Twitch.tv&amp;rft.jtitle=Information%2C%20Communication%20%26%20Society&amp;rft.volume=22&amp;rft.issue=3&amp;rft.aufirst=Mark%20R.&amp;rft.aulast=Johnson&amp;rft.au=Mark%20R.%20Johnson&amp;rft.au=Jamie%20Woodcock&amp;rft.date=2019-02-23&amp;rft.pages=336-351&amp;rft.spage=336&amp;rft.epage=351&amp;rft.issn=1369-118X"
></span>
<div class="csl-entry">
    Kelly, A. (2017). <i>Phone Booth</i> (1st edition). Bloomsbury Academic
    India.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-93-86606-66-2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Phone%20Booth&amp;rft.publisher=Bloomsbury%20Academic%20India&amp;rft.edition=1st%20edition&amp;rft.aufirst=Ariana&amp;rft.aulast=Kelly&amp;rft.au=Ariana%20Kelly&amp;rft.date=2017-01-01&amp;rft.isbn=978-93-86606-66-2&amp;rft.language=English"
></span>
<div class="csl-entry">
    Khamis, S., Ang, L., &amp; Welling, R. (2017). Self-branding,
    ‘micro-celebrity’ and the rise of Social Media Influencers.
    <i>Celebrity Studies</i>, <i>8</i>(2), 191–208.
    <a href="https://doi.org/10.1080/19392397.2016.1218292"
        >https://doi.org/10.1080/19392397.2016.1218292</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1080%2F19392397.2016.1218292&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Self-branding%2C%20%E2%80%98micro-celebrity%E2%80%99%20and%20the%20rise%20of%20Social%20Media%20Influencers&amp;rft.jtitle=Celebrity%20Studies&amp;rft.volume=8&amp;rft.issue=2&amp;rft.aufirst=Susie&amp;rft.aulast=Khamis&amp;rft.au=Susie%20Khamis&amp;rft.au=Lawrence%20Ang&amp;rft.au=Raymond%20Welling&amp;rft.date=2017-04-03&amp;rft.pages=191-208&amp;rft.spage=191&amp;rft.epage=208&amp;rft.issn=1939-2397"
></span>
<div class="csl-entry">
    Kitchin, R. (2014). Big Data, new epistemologies and paradigm shifts.
    <i>Big Data &amp; Society</i>, <i>1</i>(1), 2053951714528481.
    <a href="https://doi.org/10.1177/2053951714528481"
        >https://doi.org/10.1177/2053951714528481</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1177%2F2053951714528481&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Big%20Data%2C%20new%20epistemologies%20and%20paradigm%20shifts&amp;rft.jtitle=Big%20Data%20%26%20Society&amp;rft.stitle=Big%20Data%20%26%20Society&amp;rft.volume=1&amp;rft.issue=1&amp;rft.aufirst=Rob&amp;rft.aulast=Kitchin&amp;rft.au=Rob%20Kitchin&amp;rft.date=2014-04-01&amp;rft.pages=2053951714528481&amp;rft.issn=2053-9517&amp;rft.language=en"
></span>
<div class="csl-entry">
    Mansell, R. (2016).
    <i
        >Imaginaries, values and trajectories: A critical reflection on the
        internet</i
    >
    (p. in press).
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=Imaginaries%2C%20values%20and%20trajectories%3A%20a%20critical%20reflection%20on%20the%20internet&amp;rft.aufirst=Robin&amp;rft.aulast=Mansell&amp;rft.au=Robin%20Mansell&amp;rft.date=2016-01-01&amp;rft.pages=in%20press"
></span>
<div class="csl-entry">
    Martin, F., &amp; Dwyer, T. (2019).
    <i
        >Sharing News Online: Commendary Cultures and Social Media News
        Ecologies</i
    >
    (1st ed. 2019 edition). Palgrave Macmillan.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-3-030-17905-2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Sharing%20News%20Online%3A%20Commendary%20Cultures%20and%20Social%20Media%20News%20Ecologies&amp;rft.place=Cham%2C%20Switzerland&amp;rft.publisher=Palgrave%20Macmillan&amp;rft.edition=1st%20ed.%202019%20edition&amp;rft.aufirst=Fiona&amp;rft.aulast=Martin&amp;rft.au=Fiona%20Martin&amp;rft.au=Tim%20Dwyer&amp;rft.date=2019-09-15&amp;rft.tpages=342&amp;rft.isbn=978-3-030-17905-2&amp;rft.language=English"
></span>
<div class="csl-entry">
    Marvin, C. (1990). Dazzling the Multitude: Original Media Spectacles. In
    <i
        >When Old Technologies Were New: Thinking About Electric Communication
        in the Late Nineteenth Century</i
    >
    (pp. 152-). Oxford University Press.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-19-802138-4&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=Dazzling%20the%20Multitude%3A%20Original%20Media%20Spectacles&amp;rft.publisher=Oxford%20University%20Press&amp;rft.aufirst=Carolyn&amp;rft.aulast=Marvin&amp;rft.au=Carolyn%20Marvin&amp;rft.date=1990-05-24&amp;rft.pages=152%E2%80%93&amp;rft.spage=152&amp;rft.isbn=978-0-19-802138-4&amp;rft.language=en"
></span>
<div class="csl-entry">
    McNeal, M. (n.d.).
    <i
        >Rise of the Machines: The Future has Lots of Robots, Few Jobs for
        Humans | WIRED</i
    >. Wired. Retrieved 8 August 2021, from
    <a
        href="https://www.wired.com/brandlab/2015/04/rise-machines-future-lots-robots-jobs-humans/"
        >https://www.wired.com/brandlab/2015/04/rise-machines-future-lots-robots-jobs-humans/</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc&amp;rft.type=webpage&amp;rft.title=Rise%20of%20the%20Machines%3A%20The%20Future%20has%20Lots%20of%20Robots%2C%20Few%20Jobs%20for%20Humans%20%7C%20WIRED&amp;rft.identifier=https%3A%2F%2Fwww.wired.com%2Fbrandlab%2F2015%2F04%2Frise-machines-future-lots-robots-jobs-humans%2F&amp;rft.aufirst=Marguerite&amp;rft.aulast=McNeal&amp;rft.au=Marguerite%20McNeal"
></span>
<div class="csl-entry">
    Merrin, W., &amp; Hoskins, A. (2020). Tweet fast and kill things.
    <i>Digital War</i>, <i>1</i>(1), 184–193.
    <a href="https://doi.org/10.1057/s42984-020-00002-1"
        >https://doi.org/10.1057/s42984-020-00002-1</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1057%2Fs42984-020-00002-1&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Tweet%20fast%20and%20kill%20things&amp;rft.jtitle=Digital%20War&amp;rft.stitle=Digi%20War&amp;rft.volume=1&amp;rft.issue=1&amp;rft.aufirst=William&amp;rft.aulast=Merrin&amp;rft.au=William%20Merrin&amp;rft.au=Andrew%20Hoskins&amp;rft.date=2020-12-01&amp;rft.pages=184-193&amp;rft.spage=184&amp;rft.epage=193&amp;rft.issn=2662-1983&amp;rft.language=en"
></span>
<div class="csl-entry">
    Milan, S. (2015). From social movements to cloud protesting: The evolution
    of collective identity. <i>Information, Communication &amp; Society</i>,
    <i>18</i>(8), 887–900.
    <a href="https://doi.org/10.1080/1369118X.2015.1043135"
        >https://doi.org/10.1080/1369118X.2015.1043135</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1080%2F1369118X.2015.1043135&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=From%20social%20movements%20to%20cloud%20protesting%3A%20the%20evolution%20of%20collective%20identity&amp;rft.jtitle=Information%2C%20Communication%20%26%20Society&amp;rft.volume=18&amp;rft.issue=8&amp;rft.aufirst=Stefania&amp;rft.aulast=Milan&amp;rft.au=Stefania%20Milan&amp;rft.date=2015-08-03&amp;rft.pages=887-900&amp;rft.spage=887&amp;rft.epage=900&amp;rft.issn=1369-118X"
></span>
<div class="csl-entry">
    Morais, B. (2013, October 13).
    <i>Ada Lovelace, the First Tech Visionary</i>. The New Yorker.
    <a
        href="https://www.newyorker.com/tech/annals-of-technology/ada-lovelace-the-first-tech-visionary"
        >https://www.newyorker.com/tech/annals-of-technology/ada-lovelace-the-first-tech-visionary</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc&amp;rft.type=webpage&amp;rft.title=Ada%20Lovelace%2C%20the%20First%20Tech%20Visionary&amp;rft.identifier=https%3A%2F%2Fwww.newyorker.com%2Ftech%2Fannals-of-technology%2Fada-lovelace-the-first-tech-visionary&amp;rft.aufirst=Betsy&amp;rft.aulast=Morais&amp;rft.au=Betsy%20Morais&amp;rft.date=2013-10-13"
></span>
<div class="csl-entry">
    Morozov, E. (2011). <i>The Net Delusion: How Not to Liberate The World</i>.
    Penguin.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=The%20Net%20Delusion%3A%20How%20Not%20to%20Liberate%20The%20World&amp;rft.publisher=Penguin&amp;rft.aufirst=Evgeny&amp;rft.aulast=Morozov&amp;rft.au=Evgeny%20Morozov&amp;rft.date=2011-01-06&amp;rft.tpages=417&amp;rft.language=English"
></span>
<div class="csl-entry">
    Mosco, V. (2019). City of Technology: Where the Streets Are Paved with Data.
    In <i>The Smart City in a Digital World</i> (pp. 59–95). Emerald Publishing
    Limited.
    <a href="https://doi.org/10.1108/978-1-78769-135-320191004"
        >https://doi.org/10.1108/978-1-78769-135-320191004</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-1-78769-138-4%20978-1-78769-135-3&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=City%20of%20Technology%3A%20Where%20the%20Streets%20Are%20Paved%20with%20Data&amp;rft.publisher=Emerald%20Publishing%20Limited&amp;rft.series=Society%20Now&amp;rft.aufirst=Vincent&amp;rft.aulast=Mosco&amp;rft.au=Vincent%20Mosco&amp;rft.date=2019-01-01&amp;rft.pages=59-95&amp;rft.spage=59&amp;rft.epage=95&amp;rft.isbn=978-1-78769-138-4%20978-1-78769-135-3"
></span>
<div class="csl-entry">
    Newitz, A. (2019, November 30). A Better Internet Is Waiting for Us.
    <i>The New York Times</i>.
    <a
        href="https://www.nytimes.com/interactive/2019/11/30/opinion/social-media-future.html"
        >https://www.nytimes.com/interactive/2019/11/30/opinion/social-media-future.html</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc&amp;rft.type=newspaperArticle&amp;rft.title=A%20Better%20Internet%20Is%20Waiting%20for%20Us&amp;rft.source=The%20New%20York%20Times&amp;rft.description=My%20quest%20to%20imagine%20a%20different%20reality.&amp;rft.identifier=https%3A%2F%2Fwww.nytimes.com%2Finteractive%2F2019%2F11%2F30%2Fopinion%2Fsocial-media-future.html&amp;rft.aufirst=Annalee&amp;rft.aulast=Newitz&amp;rft.au=Annalee%20Newitz&amp;rft.date=2019-11-30&amp;rft.issn=0362-4331&amp;rft.language=en-US"
></span>
<div class="csl-entry">
    Nieborg, D. B., &amp; Poell, T. (2018). The platformization of cultural
    production: Theorizing the contingent cultural commodity.
    <i>New Media &amp; Society</i>, <i>20</i>(11), 4275–4292.
    <a href="https://doi.org/10.1177/1461444818769694"
        >https://doi.org/10.1177/1461444818769694</a
    >
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1177%2F1461444818769694&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=The%20platformization%20of%20cultural%20production%3A%20Theorizing%20the%20contingent%20cultural%20commodity&amp;rft.jtitle=New%20Media%20%26%20Society&amp;rft.stitle=New%20Media%20%26%20Society&amp;rft.volume=20&amp;rft.issue=11&amp;rft.aufirst=David%20B&amp;rft.aulast=Nieborg&amp;rft.au=David%20B%20Nieborg&amp;rft.au=Thomas%20Poell&amp;rft.date=2018-11-01&amp;rft.pages=4275-4292&amp;rft.spage=4275&amp;rft.epage=4292&amp;rft.issn=1461-4448&amp;rft.language=en"
></span>
<div class="csl-entry">
    Noble, S. U. (2018).
    <i>Algorithms of Oppression: How Search Engines Reinforce Racism</i> (1st
    edition). NYU Press.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-1-4798-3724-3&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Algorithms%20of%20Oppression%3A%20How%20Search%20Engines%20Reinforce%20Racism&amp;rft.place=New%20York&amp;rft.publisher=NYU%20Press&amp;rft.edition=1st%20edition&amp;rft.aufirst=Safiya%20Umoja&amp;rft.aulast=Noble&amp;rft.au=Safiya%20Umoja%20Noble&amp;rft.date=2018-02-20&amp;rft.tpages=246&amp;rft.isbn=978-1-4798-3724-3&amp;rft.language=English"
></span>
<div class="csl-entry">
    Qiu, J. L. (2017).
    <i>Goodbye iSlave: A Manifesto for Digital Abolition</i> (Reprint edition).
    University of Illinois Press.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-252-08212-2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Goodbye%20iSlave%3A%20A%20Manifesto%20for%20Digital%20Abolition&amp;rft.place=Urbana%2C%20Chicago&amp;rft.publisher=University%20of%20Illinois%20Press&amp;rft.edition=Reprint%20edition&amp;rft.aufirst=Jack%20Linchuan&amp;rft.aulast=Qiu&amp;rft.au=Jack%20Linchuan%20Qiu&amp;rft.date=2017-09-28&amp;rft.tpages=248&amp;rft.isbn=978-0-252-08212-2&amp;rft.language=English"
></span>
<div class="csl-entry">
    Qiu, J. L. (2019). Goodbye iSlave: Making Alternative Subjects Through
    Digital Objects. In D. Chandler &amp; C. Fuchs (Eds.),
    <i
        >Digital Objects, Digital Subjects: Interdisciplinary Perspectives on
        Capitalism, Labour and Politics in the Age of Big Data</i
    >
    (Illustrated edition). University of Westminster Press.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-1-912656-20-2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=Goodbye%20iSlave%3A%20Making%20Alternative%20Subjects%20Through%20Digital%20Objects&amp;rft.place=London&amp;rft.publisher=University%20of%20Westminster%20Press&amp;rft.edition=Illustrated%20edition&amp;rft.aufirst=Jack%20Linchuan&amp;rft.aulast=Qiu&amp;rft.au=David%20Chandler&amp;rft.au=Christian%20Fuchs&amp;rft.au=Jack%20Linchuan%20Qiu&amp;rft.date=2019-01-29&amp;rft.isbn=978-1-912656-20-2&amp;rft.language=English"
></span>
<div class="csl-entry">
    Rosenblat, A. (2018).
    <i>Uberland: How Algorithms Are Rewriting the Rules of Work</i> (First
    edition). University of California Press.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-520-29857-6&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Uberland%3A%20How%20Algorithms%20Are%20Rewriting%20the%20Rules%20of%20Work&amp;rft.place=Oakland%2C%20California&amp;rft.publisher=University%20of%20California%20Press&amp;rft.edition=First%20edition&amp;rft.aufirst=Alex&amp;rft.aulast=Rosenblat&amp;rft.au=Alex%20Rosenblat&amp;rft.date=2018-10-23&amp;rft.tpages=296&amp;rft.isbn=978-0-520-29857-6&amp;rft.language=English"
></span>
<div class="csl-entry">
    Senft, T. M. (2008).
    <i>Camgirls; Celebrity and Community in the Age of Social Networks</i> (New
    edition). Peter Lang US.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-8204-5694-2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Camgirls%3B%20Celebrity%20and%20Community%20in%20the%20Age%20of%20Social%20Networks&amp;rft.place=New%20York&amp;rft.publisher=Peter%20Lang%20US&amp;rft.edition=New%20edition&amp;rft.aufirst=Theresa%20M.&amp;rft.aulast=Senft&amp;rft.au=Theresa%20M.%20Senft&amp;rft.date=2008-07-02&amp;rft.tpages=162&amp;rft.isbn=978-0-8204-5694-2&amp;rft.language=English"
></span>
<div class="csl-entry">
    Silverstone, R. (1994). Television and a place called home. In
    <i>Television And Everyday Life</i> (1st edition, pp. 24–51). Routledge.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-415-01647-6&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=Television%20and%20a%20place%20called%20home&amp;rft.place=London%20%3B%20New%20York&amp;rft.publisher=Routledge&amp;rft.edition=1st%20edition&amp;rft.aufirst=Roger&amp;rft.aulast=Silverstone&amp;rft.au=Roger%20Silverstone&amp;rft.date=1994-06-24&amp;rft.pages=24%E2%80%9351&amp;rft.spage=24&amp;rft.epage=51&amp;rft.isbn=978-0-415-01647-6&amp;rft.language=English"
></span>
<div class="csl-entry">
    Singer, P. W., &amp; Brooking, E. T. (2018).
    <i>LikeWar: The Weaponization of Social Media</i>. Eamon Dolan/Houghton
    Mifflin Harcourt.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-1-328-69574-1&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=LikeWar%3A%20The%20Weaponization%20of%20Social%20Media&amp;rft.place=Boston&amp;rft.publisher=Eamon%20Dolan%2FHoughton%20Mifflin%20Harcourt&amp;rft.aufirst=P.%20W.&amp;rft.aulast=Singer&amp;rft.au=P.%20W.%20Singer&amp;rft.au=Emerson%20T.%20Brooking&amp;rft.date=2018-10-02&amp;rft.tpages=416&amp;rft.isbn=978-1-328-69574-1&amp;rft.language=English"
></span>
<div class="csl-entry">
    Streeter, T. (2010). The Moment Of Wired. In
    <i>The Net Effect: Romanticism, Capitalism, and the Internet</i> (1st
    edition). NYU Press.
</div>
<span
    class="Z3988"
    title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-0-8147-4115-3&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=bookitem&amp;rft.atitle=The%20Moment%20Of%20Wired&amp;rft.place=New%20York&amp;rft.publisher=NYU%20Press&amp;rft.edition=1st%20edition&amp;rft.aufirst=Thomas&amp;rft.aulast=Streeter&amp;rft.au=Thomas%20Streeter&amp;rft.date=2010-12-01&amp;rft.isbn=978-0-8147-4115-3&amp;rft.language=English"
></span>
